@import '~bootstrap/scss/bootstrap';

$body-bg-color: rgb(153, 102, 153);
$border-color: $green;
$font-color: $light;
$index-color: #a2cbb6;
$border-color: #000;
$alt-color: $red;



nav {
  // background-color: $index-color;
  display: flex;
  // display: flex;
  // flex-direction: row;
  height: 50px;
  justify-content: flex-end;
  margin-left: auto;

 }

body {
  align-items:  center;
  background-color: $body-bg-color;
  $font-color: black;
  font-family: monospace;
  font-size: 10px;
  width: 80%;
}
//
// p {
//   text-align: center;
// }

button {
  font-family: fantasy;
  font-size: 8px;

 }

form {
  align-items: center;
}

// .container {
//   width: 80%;
// }


.container {
  margin-left: 15%;
  margin-right: 25%;
  // width: 50%;
}

.c1 {
  width: 60%;
}

.c2 {

  width: 60%;
}

label {
  padding-right: 20px;
}

.para {
  font-size: 13px;
  font-weight: bold;
}

.a1 {
  font-family: serif;
  font-size: 16px;
}

.a2 {
  font-family: serif;

  font-size: 16px;

}
