@import '~bootstrap/scss/bootstrap';

$body-bg-color: rgb(153, 102, 153);
$border-color: $green;
$font-color: $light;
$index-color: #a2cbb6;
$border-color: #000;
$alt-color: $red;



nav {
  // background-color: $index-color;
  display: flex;
  // display: flex;
  // flex-direction: row;
  height: 50px;
  justify-content: flex-end;
  margin-left: auto;

 }

body {
  align-items:  center;
  background-color: $body-bg-color;
  $font-color: black;
  font-family: monospace;
  font-size: 16px;
  width: 80%;
}
//
// p {
//   text-align: center;
// }

button {
  font-family: fantasy;
  font-size: 10px;

 }

form {
  align-items: center;
}

// .container {
//   width: 80%;
// }

.container {
  margin-left: 20%;
  margin-right: 25%;
}
